<?xml version="1.0"?>
<launch>
    <arg name="map_frame" default="map"/>
    <arg name="base_frame" default="base_link"/>
    <arg name="cmd_vel_topic" default="/cmd_vel"/>
    <arg name="controller_freq" default="20.0"/>

    <node pkg="elevation_local_planner" type="elevation_local_planner_node" name="elevation_local_planner" output="screen">
        <param name="map_frame" value="$(arg map_frame)"/>
        <param name="base_frame" value="$(arg base_frame)"/>
        <param name="cmd_vel_topic" value="$(arg cmd_vel_topic)"/>
        <param name="controller_freq" value="$(arg controller_freq)"/>
        <param name="max_vel_x" value="0.8"/>
        <param name="max_vel_theta" value="1.0"/>
        <param name="lookahead_dist" value="0.8"/>
    </node>
</launch>
