<?xml version="1.0"?>
<launch>
    <arg name="map_frame" default="map"/>
    <arg name="base_frame" default="base_link"/>
    <arg name="max_layers" default="3"/>
    <arg name="pcd_file" default=""/>

    <!-- 运动学参数 -->
    <arg name="max_step_height" default="0.25"/>

    <!-- 机体碰撞建模参数 -->
    <arg name="footprint_radius" default="0.30"/>
    <arg name="body_hard_radius" default="0.20"/>
    <arg name="sweep_penalty_weight" default="1.0"/>
    <arg name="foot_clearance" default="0.05"/>
    <arg name="sor_mean_k" default="16"/>
    <arg name="sor_std_mul" default="1.5"/>

    <node pkg="elevation_global_planner" type="elevation_global_planner_node" name="elevation_global_planner" output="screen">
        <param name="map_frame" value="$(arg map_frame)"/>
        <param name="base_frame" value="$(arg base_frame)"/>
        <param name="max_layers" value="$(arg max_layers)"/>
        <param name="pcd_file" value="$(arg pcd_file)"/>
        <param name="max_step_height" value="$(arg max_step_height)"/>
        <param name="footprint_radius" value="$(arg footprint_radius)"/>
        <param name="body_hard_radius" value="$(arg body_hard_radius)"/>
        <param name="sweep_penalty_weight" value="$(arg sweep_penalty_weight)"/>
        <param name="foot_clearance" value="$(arg foot_clearance)"/>
        <param name="sor_mean_k" value="$(arg sor_mean_k)"/>
        <param name="sor_std_mul" value="$(arg sor_std_mul)"/>
    </node>
</launch>
